@model IEnumerable<KL.Domain.KnowledgeLibraryDetail>

<p>
    @Html.ActionLink("Create New", "CreateKld")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DevelopmentTypeId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.URL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DevelopmentTypeId)
        </td>
        <td>
            @Html.ActionLink("Update", "Update", new { id=item.Id }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            
            @using (Html.BeginForm("Delete", "Delete", new { id = item.Id }))
            {
              @Html.AntiForgeryToken()
              <input type="submit" class="glyphicon glyphicon-remove" />
            }
        </td>
    </tr>
}

</table>
